#container{ /*# is used to select an element by its id attribute*/
    height: 200px; /*sets height of container*/
    display: flex; /*arranges bars next to eachother*/
    align-items: flex-end; /*arrangs bars on the floor*/
}


body{ /*manipulates the elements in the body*/
    display: flex; /*arranges elements next to eachother*/
    align-items: center; /*?*/
    flex-direction: column;  /*?*/

}

.bar{ /*common characteristics for each bar */
    width: 4px; 
    background-color: black;
    margin: .5px;   
}


/* Split the screen in half
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  } */